@{
    ViewData["Title"] = "Home Page";
}

<!-- Reference https://dev.to/sanchithasr/how-to-overlay-icons-on-top-of-images-with-css-1kb9 -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style type="text/css">

    .image {
        width: 100%;
        height: auto;
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 1.0;
        transition: .3s ease;
        background-color: transparent;
    }

    .container {
        position: relative;
        width: 100%;
        max-width: 400px;
    }

    .overlay:hover {
        opacity: 0.7;
    }

    .play-icon {
        color: black;
        font-size: 2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        cursor: pointer;
        width: 20%;
        z-index: 2;
    }

</style>

<div class="row">

    <br />

    <div class="container">

        <div class="row">

            <img src="https://static-videos.pexels.com/videos/1448735/pictures/preview-0.jpg" alt="Beautiful Image"
                 class="image">
            <div class="overlay">
                <button href="#" class="play-icon" title="Video Play">
                    <i class="fa fa-play"></i>
                </button>
            </div>

        </div>

    </div>

</div>
